# ================================
# MATLAB temporary files
# ================================
*.asv
*.m~
*.autosave
*.slx.autosave

# ================================
# MATLAB build & cache
# ================================
slprj/
*.mex*
*.p
*.mlappinstall

# ================================
# OS files
# ================================
.DS_Store
Thumbs.db

# ================================
# Editor / IDE
# ================================
.vscode/
.idea/

# ================================
# Temporary & backup files
# ================================
*.tmp
*.bak
*.swp

# ================================
# Logs
# ================================
*.log

# ================================
# Jangan upload hasil scan mentah (opsional)
# ================================
# *.jpg
# *.png

# ================================
# Folder yang TIDAK perlu di GitHub
# ================================
# hasil build atau cache
